<div class="container">
  <div [hidden]="submitted">
    <h1>File Form (Reactivezz)</h1>
    <!--formErrors{{formErrors | json}}-->
    <div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
    </div>
    <div *ngIf="formErrors.roles" class="alert alert-danger">
      {{ formErrors.roles }}
    </div>
    <div *ngIf="formErrors.type" class="alert alert-danger">
      {{ formErrors.type }}
    </div>
    <div *ngIf="formErrors.toDate" class="alert alert-danger">
      {{ formErrors.toDate }}
    </div>
    <div *ngIf="formErrors.fromDate" class="alert alert-danger">
      {{ formErrors.fromDate }}
    </div>


    <form [formGroup]="fileForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>

        <input type="text" id="name" class="form-control"
               formControlName="name"  >


      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" class="form-control"
               formControlName="type">

      </div>

      <div class="form-group">
        <label for="roles">Roles</label>
        <select id="roles" class="form-control"
                formControlName="roles">
          <option *ngFor="let r of roles" [value]="r">{{r}}</option>
        </select>


      </div>
      <div>
        <label for="toDate">To Date</label>
      <my-date-picker name="toDate" id="toDate" [options]="toDateOptions"
                      formControlName="toDate"></my-date-picker>
      </div>

      <div>
        <label for="fromDate">From Date</label>
        <my-date-picker name="fromDate" id="fromDate" [options]="fromDateOptions"
                        formControlName="fromDate"></my-date-picker>
      </div>

      <button type="submit" class="btn btn-default"
      >Submit</button>

      <label>With disable functionality</label>
      <button type="submit" class="btn btn-default"  [disabled]="!fileForm.valid"
      >Submit</button>

      <button type="button" class="btn btn-default"
              (click)="addFile()">New File</button>
    </form>
  </div>

  <display-submitted [file]="fileComponent" [(submitted)]="submitted"></display-submitted>
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
